<h3>What birds did you see today??</h3>

<form action="/watchlists/new" method="POST">
    <label>Location: </label>
    <input type="text" name="location">
    <br>
    <label>Date: </label>
    <input type="date" name="date">

    <br><br>
    
    <% 5.times do%>
        <label class="title">Bird Name: </label>
        <input type="text" name="birds[][name]">
        <br>
        <label class="title">Bird Count: </label>
        <input type="text" name="birds[][count]">
        <br><br>
    <% end %>
    <label>Notes: </label>
    <input type="text" name="notes">
    <br>
    <input type="submit" class="submit">
</form>