<h3>What birds did you see today??</h3>

<form action="/watchlists/new" method="POST">
    <% 5.times do%>
        <label>Bird Name: </label>
        <input type="text" name="birds[][name]">
        <br>
        <label>Bird Count: </label>
        <input type="text" name="birds[][count]">
        <br><br>
    <% end %>
    <label>Notes: </label>
    <input type="text" name="notes">
    <br>
    <input type="submit">
</form>