<p>Hello <%=@user.username%></p>
<ul>
<% @user.watchlists.each do |watchlist|%>

    <li><a href="/watchlists/<%= watchlist.id%>"></a><%= watchlist.location.name.titleize%> on<%= watchlist.date_created.strftime("%d/%m/%Y") %></li>

<% end %>
</ul>



<form action="/watchlists/new" method="GET">
    <input type="submit" value="Make new Watchlist">
</form>