<h3>Welcome to Birdhouz!!</h3>
<p>Please fill out the following form to get started logging your birds!</p>


<form action="/signup" method="POST">
    <label>Username: </label>
    <input type="text" name="username">
    <br>
    <label>Password: </label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Sign Up">
</form>