<!DOCTYPE html>
 <html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Birdhouz</title>
    <link rel="icon" href="/images/birdhouz_favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <div class="parent">
    <div class="div1">
    <ul class="navbar" id="navbar">
      <li class="nav"><a href='/'><img id="logo" src="/images/birdhouz_logo.png" alt="logo"></a></li>
      <li class="nav"><a class="nav" href="/profile">Your Profile</a></li>
      <li class="nav"><a class="nav" href="/locations">Explore</a></li>
      <li class="nav"><a class="nav" href="/watchlists/new">New List</a></li>
      <% if session[:user_id]%>
         <li class="nav" style="float:right"><a class="nav" href="/logout">Logout</a></li>
      <% else %>
        <li class="nav" style="float:right"><a class="nav" href="/login">Login</a></li>
        <li class="nav" style="float:right"><a class="nav" href="/signup">Signup</a></li>
      <% end %>
    </ul>
    </div>
    
    <div class="div6"> 
      <% if flash[:alert]%>
        <div class="warning">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:message]%>
        <div class="message">
          <%= flash[:message] %>
        </div>
      <% end %>
      <%= yield %>
    
    </div>
   
  </div>

  </body>
</html>
