<div class="container">
  <header><title>Birdhouz</title></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>BirdHouz Welcome Page</h2>

    <div class="content">
      <p>Welcome to the best watchlist tracker on the webz!</a>.</p>

      <% if @session[:user_id]%>
        <form action="/logout" method="POST">
          <input type="submit" value="Logout">
        </form>
      <% else %>
        <form action="/login" method="GET">
          <input type="submit" value="Login">
        </form>
        <form action="/signup" method="GET">
          <input type="submit" value="Signup">
        </form>

      <% end %>
    </div>

    <div class="sidebar">
      <p>Maybe I Will put some cool Bird stats over here</p>
    </div>

  </div>
</div>
